@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --background: rgba(5,5,5,1);
    --light-color: #fff;
    --primary-color: rgba(155,157,248,1);
    --primaria-1: rgba(73,24,110,1); 
    --secondary-color: rgba(16,2,29,1);
    --text-paragrafo: rgba(217,217,217,1);
    --text-button: rgba(238,238,238,1);

    --margin-top: 60px;

    --gap: 30px;

    --padding-mobile: 25px;

    --header-h1: 38px;
    --header-h2: 34px;
    --h4: 24px;
    --h6: 16px;
    --paragrafo: 19px;

    --font-family: "Roboto", sans-serif;

    --descktop-breakpoint: 1280px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#header .header-container,
#main .main-container,
#footer .footer-container {
    max-width: var(--descktop-breakpoint);
    margin: auto;
}

.btn {
    width: 150px;
    height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #fff;
    transition: all ease-in-out .5s;
}

.btn:hover {
    background-color: var(--primaria-1);
    border: transparent;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    background-color: var(--background);
}

#header {
    height: 80px;
    padding: 0 var(--padding-mobile);
    display: flex;
}

#header .header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .header-container .nav {
    position: absolute;
    top: 80px;
    display: none;
}

.header .header-container .burger {
    width: 30px;
    height: 30px;
}

.header .header-container .burger .hamburger {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.header .header-container .burger .hamburger .bar {
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

#main {
    margin-top: var(--margin-top);
}

.main .main-container {
    padding: 0 var(--padding-mobile);
}

.main .main-container .sobre {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.main .main-container .sobre .img-man {
    background: url(../img/fotos-principais/Rectangle\ 7.png) no-repeat center / contain, linear-gradient(to bottom, #0000002d 3%, #2b054833 100%);
    width: 100%;
    height: 452px;
}

.main .main-container .sobre .text-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.main .main-container .sobre .text-sobre h1 {
    font-size: var(--header-h1);
    color: var(--primary-color);
}

.main .main-container .sobre .text-sobre p {
    color: var(--light-color);
    line-height: 24px;
}

.main .main-container .soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-top);
    gap: var(--gap);
}

.main .main-container .soft-skills h2 {
    color: var(--primary-color);
    font-size: var(--header-h2);
}

.main .main-container .soft-skills .grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap) 85px;
    margin: auto;
}

.main .main-container .soft-skills .grid-list .grid-item::marker {
    color: var(--primary-color);
}

.main .main-container .soft-skills .grid-list .grid-item {
    color: var(--light-color);
}

@keyframes slide {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

.main .main-container .tecnologies {
    margin-top: var(--margin-top);
    white-space: nowrap;
    overflow: hidden;
}

.main .main-container .tecnologies .tecnologies-slides{
    display: inline-block;
    animation: 9s slide infinite linear;
}

.main .main-container .tecnologies .tecnologies-slides .slide {
    display: inline-block;
    margin: 0 60px;
}

.main .main-container .tecnologies .tecnologies-slides .slide i {
    font-size: 5em;
    color: var(--primary-color);
}

.main .main-container .tecnologies .tecnologies-slides .slide p {
    color: var(--light-color);
    margin-top: 15px;
    text-align: center;
}