@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-primaria: #32177d; 
    --cor-light: #faf7fc;
    --cor-darck: #0f0e0e;

    /* Mobile */
    --h1-mobile: 48px;
    --h1-bold-mobile: Bold;
    --ls-mobile: 2%;

    --h2-mobile: 40px;

    --p-mobile: 16px;

    --small-mobile: 14px;
    --small-lh-mobile: 18px;

    --padding-mobile: 30px;

    --gap: 25px;

    --descktop-breakpoint: 1200px;
    --margin-breakpoint: auto;

    --font-roboto: "Roboto", sans-serif;
    --font-anek: "Anek Malayalam", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    font-size: var(--h2-mobile);
    letter-spacing: 2px;
}

body{
    font-family: var(--font-roboto);
    background-color: var(--cor-darck);
    font-size: 16px;
    color: var(--cor-light);
}

.btn {
    background-color: transparent;
    width: 142px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--cor-primaria);
    color: var(--cor-light);
    font-size: var(--p-mobile);
    letter-spacing: 1px;
    gap: 15px;
    transition: all .5s ease-in-out;
}

.btn:hover {
    background-color: var(--cor-primaria);
}


.header-container,
.main-container {
    max-width: var(--descktop-breakpoint);
    margin: var(--margin-breakpoint);
}

.header-container {
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-mobile);
    background-color: var(--cor-darck);

    .logo {
        color: var(--cor-primaria);
        font-weight: bold;
        font-family: var(--font-anek);
        font-size: 20px;
    }

    .burger {
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .burger .hamburguer {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .burger .hamburguer .bar {
        width: 100%;
        height: 4px;
        background: var(--cor-primaria);        
        border-radius: 2px;
    }

    .navbar {
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .navbar .nav-container {
        background-color: var(--cor-darck);
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        right: 0;
        padding: var(--padding-mobile) 10px;
        border-top: 1px solid var(--cor-light);
        overflow: hidden;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    .navbar .active {
        height: calc(100vh - 80px);
        overflow: auto;
        opacity: 1;
    }

    .navbar .nav-container ul {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        align-items: center;
    }

    .navbar .nav-container li a{
        color: var(--cor-light);
        padding: 5px 15px;
        transition: border .5s ease-in-out;
    }

    .navbar .nav-container li a:hover {
        border: 1px solid var(--cor-primaria);
        border-radius: 45px;
    }

    .disponivel {
        width: 100%;   
        border-radius: 45px;     
        border: 1px solid var(--cor-primaria);
        transition: all .5s ease-in-out;
    }

    .disponivel .btn-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
        gap: 30px;
    }

    .disponivel .btn-header .circle {
        width: 25px;
        height: 20px;
        background-color: transparent;
        position: relative;
        border-radius: 50%;
        border: 2px solid var(--cor-primaria);
    }

    .disponivel .btn-header .circle .circle-small {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid var(--cor-primaria);
    }

    .disponivel .btn-contato  {
        width: 120px;
        height: 40px;
        background: var(--cor-primaria);
        color: var(--cor-light);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 45px;
    }

    .disponivel .text {
        color: var(--cor-light);
        display: inline;
    }
}

.active-header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.main-container {
    position: relative;
    padding: var(--padding-mobile);
}

.main-header {

    .img-purple {
        background: url(../img/fotos-principais/Purple\ White\ Modern\ Technology\ Company\ Poster.png) no-repeat center / cover;
        width: 300px;
        height: 200px;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    .text h1 {
        color: var(--cor-light);
        font-size: var(--h1-mobile);
        font-weight: var(--h1-bold-mobile);
        text-align: center;
    }

    .text p {
        text-align: center;
        line-height: 20px;
        font-size: var(--small-mobile);
    }

    .button {
        margin-top: var(--gap);
        display: flex;
        gap: var(--gap);
    }

    .button .btn i {
        font-size: 22px;
    }
}

.name {
    color: #32177d;
}

.skills {
    padding: 60px var(--padding-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);

    .cards{
        overflow: hidden;
        white-space: nowrap;
        display: flex;
    }

    .cards .card-slide {
        display: flex;
        animation: 20s slide infinite linear;
    }

    .cards:hover .card-slide {
        animation-play-state: paused;
    }

    .cards .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--cor-primaria);
        width: 150px;
        height: 208px;
        padding: 35px 0;
        margin: 0 40px;
        border-radius: 8px;
    }

    .cards .card i {
        font-size: 5em;
    }

    .cards .card small {
        font-size: var(--p-mobile);
        font-weight: bold;
        letter-spacing: 1px;
    }
}

#projetos {

    h2{
        text-align: center;
    }
}


@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
